.wrapper_login {
    background-color: white;
    border: solid 2px #202329;
    border-radius: 10px;
}

.wrapper_login .btn-primary {
    background-color: #073c58;
    border: none;
}

.wrapper_login .error {
    color: red;
}

.wrapper_login .btn:hover {
    background-color: #073c58;
}

.wrapper_login .google:hover {
    cursor: pointer;
}